<.dialer_form number={@number} dialer_token={@dialer_token} buttons={@buttons} queue_token={@queue_token} queue={@queue} queue_status={@queue_status} />
<div class="flex flex-row my-4 justify-center items-center p-2">
  <i class="hero-arrow-up-right w-4 mr-2 text-green-500" />
  <i class="hero-arrow-down-left w-4 mr-8 text-red-500" />
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="mr-8">Call from +18013589504 at <%= ~D[2023-01-01] %></a>
</div>
<script>
  new AudioContext().suspend()
</script>
