<div class="flex flex-row justify-center">
  <.dialer_form number={@number} dialer_token={@dialer_token} buttons={@buttons} queue_token={@queue_token} queue={@queue} queue_status={@queue_status} />
</div>
<ul class="overflow-y-auto max-w-100 space-y-4 mt-4">
  <%= for call_log <- @call_logs do %>
    <.call_log_item call_log={call_log} />
  <% end %>
</ul>
<script>
  new AudioContext().suspend()
</script>
